@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);


#header1-0 B {
  font-size: 60px;
  font-family: 'Playfair Display', sans-serif;
}
#header1-0 P {
  font-size: 36px;
  font-family: 'Playfair Display', sans-serif;
}
#header1-0 H1 {
  font-size: 48px;
  color: #000000;
}
#footer1-2 P {
  color: #000000;
  text-align: center;
}
